<!doctype html>
<html ng-app="playlistach">
<head>
    <meta charset="utf-8" />
    <title>Playlistach</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css" />
    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!-- Templates -->
    <script type="text/ng-template" id="playlist.html">
        <div ng-repeat="entry in tracks.pages[page]" class="row">
            <span class="cell track-button">
                <i class="fa {{entry.data.origin == 'VK' ? 'fa-vk' : 'fa-soundcloud'}}"></i>
            </span>
            <span class="cell">
                {{entry.data.title}}
            </span>
            <span ng-show="entry.data.externalId == player.current"
                  ng-click="player.pause(entry.data)"
                  class="cell track-button">
                <i class="fa fa-pause"></i>
            </span>
            <span ng-show="entry.data.externalId != player.current"
                  ng-click="player.play(entry.data)"
                  class="cell track-button">
                <i class="fa fa-play"></i>
            </span>
            <span ng-click="move(entry)"
                  class="cell track-button">
                <i class="fa {{mode == 'source' ? 'fa-plus' : 'fa-minus'}}"></i>
            </span>
        </div>
    </script>
    <!-- Scripts -->
    <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
    <header>
        <h2>Playlista<span class="orange">ch</span></h2>
    </header>
    <nav>
        <input ng-model="searchQuery"
               type="text"
               size="34"
               placeholder="Burial - Near Dark">
        <button ng-click="search(searchQuery)">
            Search
        </button>
    </nav>
    <section id="search-results">
        <header>
            <h2>Search results</h2>
        </header>
        <div ng-playlist
             tracks="searchResultsPaginator"
             mode="source"
             dual="userPlaylistPaginator"
             player="searchResultsPlayer"
             class="table">
        </div>
    </section>
    <section id="playlist">
        <header>
            <h2>Playlist</h2>
        </header>
        <div ng-playlist
             tracks="userPlaylistPaginator"
             mode="target"
             dual="searchResultsPaginator"
             player="userPlaylistPlayer"
             class="table">
        </div>
    </section>
</body>
</html>