body {
  text-align: center;
}

button:hover, i:hover {
  cursor: pointer;
}

.orange, i:hover {
    color: #FF6600;
}

#search-results {
  margin-left: 10%;
}

#search-results, #playlist {
  box-sizing: border-box;
  float: left;
  width: 40%;
}